#app{
    background-image: url(../src/assets/bg.jpg);
    margin-top: 0px !important; 
}
a:link {
    color: #1d2124;
}

a:visited {
    color: #ced4da;
}

a:hover {
    color: #d39e00;
    text-decoration: none
}
a:active {
    color: #ffc107;
}